<div class="planet-card" *ngIf="planet">
  <div class="planet-header">
    <h2>{{ planet.name }}</h2>
    <span class="planet-status" 
    [ngClass]="{'OK': planet.status === 1, 'NOTOK': planet.status === 2}">
      {{ planet.status === 1 ? 'OK' : (planet.status === 2 ? '!OK' : '') }}
    </span>
  </div>
  <p class="planet-description">{{ planet.description }}</p>
  <div class="planet-footer">
    <p><strong>by captain: </strong>{{ planet.humanCaptain.name }}</p>
    <p><strong>Robots: </strong>
      <span *ngIf="planet.robots && planet.robots.length > 0; else noRobots">
          <ng-container *ngFor="let robot of planet.robots; let last = last">
              {{ robot.name }}<span *ngIf="!last">, </span>
          </ng-container>
      </span>
  </p>
    <ng-template #noRobots>No robots assigned</ng-template>
  </div>
</div>
