.planet-card {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .planet-middle {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0 1px;
  }

  .planet-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .planet-status {
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    flex-shrink: 0;
    align-self: center;
  }
  
  .OK {
    background-color: #4caf50;
  }
  
  .NOTOK {
    background-color: #f44336;
  }

  .ENROUTE {
    background-color: goldenrod;
  }
  
  .planet-description {
    font-style: italic;
  }
  
  .planet-footer {
    margin-top: 20px;
  }

  .planet-footer button {
    padding: 10px 20px;
    background-color: #800020;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
  }

  .planet-footer button:hover {
    background-color: #4d0013; 
  }

  .planet-picture {
    width: 80px;
    height: 80px;
  }

  .planet-picture-container {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }